.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Ubuntu';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(228, 100%, 84%);
    font-size: 16px;
}

.all-content {
    display: flex;
    max-width: 900px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 560px;
    /* Adjust the height as needed */

}

.sidebar {
    border-radius: 10px;
    background-color: #f4f4f4;
    width: 250px;
    padding: 12px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-image: url("/multi-step-form-main/assets/images/bg-sidebar-desktop.svg");
}

.stepName {
    display: block;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;

}

.sidebar ul li {
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    font-family: 'Ubuntu-Bold';
}

.circle {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}

.sidebar ul li.active .circle {
    background-color: hsl(206, 94%, 87%);
    color: white;
}



.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.sidebar ul li a:hover {
    font-weight: bold;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    background-color: #fff;
}

h2 {
    margin-bottom: 10px;
    color: hsl(213, 96%, 18%);
    font-size: 36px;
}

.form-step {
    margin-bottom: 30px;
    justify-content: center;

}

.form-step p {
    color: hsl(229, 24%, 87%);

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

input {


    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    color: hsl(213, 96%, 18%);


}

input:invalid {
    border-color: red;
}

input:invalid+.warning {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.warning {
    display: none;
}

.btn {
    display: inline-block;
    background-color: hsl(213, 96%, 18%);
    /* Purplish blue */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #555;
}

.step-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 70px;


}

.step-buttons .btn {
    margin-top: 20px;
    padding: 15px;

}

/* Mobile responsive */
@media (max-width: 375px) {

    .stepName {
        display: none;
    }

    .all-content {
        flex-direction: column;
        max-width: 100%;


        display: flex;
        max-width: 900px;
        padding: 20px;
        padding-bottom: 60px;
        background-color: hsl(217, 100%, 97%);

        border-radius: 10px;

        height: auto;
    }

    .sidebar {
        width: 93%;
        box-shadow: none;
        padding: 10px;
        border-radius: 10px;
        background-image: url("/multi-step-form-main/assets/images/bg-sidebar-mobile.svg");
    }

    .main-content {
        padding: 20px;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        /* Allows items to wrap in smaller viewports */
        justify-content: center;
        /* Center-align items horizontally */
    }

    .sidebar ul li {
        margin: 10px;
        /* Adjust spacing between items */
    }

    .form-step {
        padding: 0;

    }

    .step-buttons {
        justify-content: center;
        /* Center the button on smaller screens */

    }
}


